@import "./vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

html {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $background;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}